body {
  font-family: 'Lato', 'Raleway', 'Arial', sans-serif;
}

.icon {
  margin-right: em(10, $form-input-file-font-size);
}

.container {
  height: 100%;
  padding: 0 witdhToPaddings($containerDefault, $widthDefault);
}

@media (max-width: px($widthSizeL)) {
  .container {
    padding: 0 witdhToPaddings($containerSizeL, $widthSizeL);
  }
}

@media (max-width: px($widthSizeS)) {
  .container {
    padding: 0 witdhToPaddings($containerSizeS, $widthSizeS);
  }
}