body {
  font-family: 'Lato', 'Raleway', 'Arial', sans-serif;
}

.container {
  height: 100%;
  padding: 0 witdhToPaddings($container-default, $width-default);
}

@media (max-width: px($width-size-L)) {
  .container {
    padding: 0 witdhToPaddings($container-size-L, $width-size-L);
  }
}

@media (max-width: px($width-size-S)) {
  .container {
    padding: 0 witdhToPaddings($container-size-S, $width-size-S);
  }
}