// Raleway

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


// Lato

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Regular.eot');
    src: local('Lato'),
        url('/src/assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Lato/Lato-Regular.woff') format('woff'),
        url('/src/assets/fonts/Lato/Lato-Regular.ttf') format('truetype'),
        url('/src/assets/fonts/Lato/Lato-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Semibold.eot');
    src: local('Lato-Semibold'),
        url('/src/assets/fonts/Lato/Lato-Semibold.woff2') format('woff2'),
        url('/src/assets/fonts/Lato/Lato-Semibold.woff') format('woff'),
        url('/src/assets/fonts/Lato/Lato-Semibold.ttf') format('truetype'),
        url('/src/assets/fonts/Lato/Lato-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Bold.eot');
    src: local('Lato-Bold'),
        url('/src/assets/fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Lato/Lato-Bold.woff') format('woff'),
        url('/src/assets/fonts/Lato/Lato-Bold.ttf') format('truetype'),
        url('/src/assets/fonts/Lato/Lato-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Heavy.eot');
    src: local('Lato-Heavy'),
        url('/src/assets/fonts/Lato/Lato-Heavy.woff2') format('woff2'),
        url('/src/assets/fonts/Lato/Lato-Heavy.woff') format('woff'),
        url('/src/assets/fonts/Lato/Lato-Heavy.ttf') format('truetype'),
        url('/src/assets/fonts/Lato/Lato-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}