$browser-context: 14;

// Header
$header-height: 100;

$header-nav-item-font-size: 13;
$header-nav-item-color: rgba(255, 255, 255, 1);
$header-nav-item-color-accent: rgba(67, 171, 240, 1);

$header-burger-activation-breakpoint: 1024;

// Texts
$text-color-primary: rgba(0, 0, 0, 1);
$text-color-secondary: rgba(255, 255, 255, 1);
$text-color-accent: rgba(62, 156, 220, 1);

// Buttons
$button-font-size: 15;

// Forms
$form-input-font-size: 18;
$form-input-border-color: rgba(255, 255, 255, 1);
$form-input-file-font-size: 15;

// Width and containers
$width-default: 1920;
$width-size-L: 1440;
$width-size-M: 768;
$width-size-S: 480;

$container-default: 1172;
$container-size-L: 1200;
$container-size-S: 440;